# Исключаем временные и скрытые файлы
.*.swp
*.pyc

# Исключаем файлы и директории, не связанные с проектом
__pycache__
*.log
*.db

# Исключаем директории с настройками окружения
venv/
env/
virtualenv/
node_modules/
dist/
build/